<mat-sidenav-container class="h-full">
  <mat-sidenav
    #drawer
    class="!w-[200px] !border-r !border-border !rounded-none"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @for (item of menuItems(); track item.path) {
        @if (item.isFeatureEnabled) {
          <a mat-list-item [routerLink]="item.route">{{ item.label }}</a>
        }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          matIconButton
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
    </mat-toolbar>
    <main class="w-full px-4 md:max-w-4xl">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
