mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  border-radius: 0;
  &.expanded {
    width: 12%;
    @media screen and (max-width: 768px) {
      width: 55%;
    }
  }
  &.collapsed {
    width: 5%;
  }
}

mat-sidenav-content {
  @media screen and (max-width: 768px) {
    //padding-left: 10px;
  }
}
